:root{
    --bg_dark: rgb(44, 44, 44);
    --bg_light: rgb(225, 225, 225);
}
body{
    margin: 0px;
}
.App{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.dark{
    background-color: var(--bg_dark);
}
.light{
    background-color: var(--bg_light);
}